$background: #f6f6f6;
$grey-tint4: #7e7e7e;
$dark-grey: #353535;
$primary: #9356dc;
$secondary: #ff79da;
$green-font: #008766;
$green-background: #99e2d0;
$pix28: 1.75rem;
$pix24: 1.5rem;
$pix18: 1.125rem;
$pix15: 0.937rem;
@mixin btn-gradient {
  background: linear-gradient(173deg,$secondary -22%,$primary 120%);;
  height: 50px;
  border: none;
  border-radius: 25px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: white;
  font-family: Roboto;
  font-size: 1rem;
  cursor: pointer;
  transition: 
    filter 400ms ease-in-out,
    background 300ms ease-in-out;
  &:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.45));
    background: linear-gradient(173deg,$secondary 12%,$primary 132%);
  }
}



:root {
  font-family: Roboto;
  font-size: 16px;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 63px;
  >a {
    width: 64px;
    padding-left: 17px;
  }
  >div {
    width: 64px;
  }
  align-items: center;
  >img {
    width: 162px;
  }
}

//like button
.like-zone {
  input[type="checkbox"] {
    display: none;
    & + label {
      cursor: pointer;
      fill: none;
      stroke: #101010;
    }
    &:checked + label {
      fill: url("#pink-gradient");
      stroke: none;
    }
  }  
}


.footer {
  background-color: $dark-grey;
  padding: 22px 25px;
  color: white;
  h2 {
    font-family: Shrikhand;
    font-size: 1.1rem;
    margin-bottom: 16px;
  }
  li {
    margin-bottom: 7px;
    i {
      font-size: 0.8rem;
      max-width: 0.75rem;
      margin-right: 11px;
    }
    address {
      font-style: normal;
    }
  }
  ul:last-of-type li:last-of-type {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 951px) {
  .header {
    height: 96px;
    >img {
    width: 200px;
    }
  }

  .footer {
    height: 114px;
    display: flex;
    flex-direction: row-reverse;
    align-items: last baseline;
    h2 {
      margin-bottom: 0;
      margin-right: 40px;
    }
    ul {
      display: flex;
      gap: 10px;
    }
    ul:first-of-type {
      order: 3;
      li {
        width: 190px;
      }
    }
    ul:last-of-type {
      order: 2;
      li {
        width: 130px;
      }
    }
  }
}
