@import "global";

h1, h2 {
  font-size: 1.5rem;
}

h2 {
  margin-bottom: 26px;
}

.header {
  position: relative;
  z-index: 2;
  box-shadow: 0 2px 4px 0 rgba(0 0 0 / 15%);
}

.location-form {
  display:flex;
  background-color: #eaeaea;
  height: 50px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
  i {
    padding-right: 17px;
  }
}

.main-title-section {
  background-color: $background;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 52px;
  h1 {
    margin: 4px 58px 17px 42px;
  }
  p {
    font-weight: 300;
    font-size: calc(18rem / 16);
    margin: 0 24px 27px 24px;
  }
  .pink-btn {
    @include btn-gradient;
    padding: 0 1.17rem;
    transition: 
      filter 400ms ease-in-out,
      background 300ms ease-in-out;
    &:hover {
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.45));
      background: linear-gradient(173deg,$secondary 12%,$primary 132%);
    }
  }
}

.info-section {
  padding-left: 20px;
  padding-right: 20px;
  margin: 48px auto 68px auto;
  max-width: 675px;
  ol {
    padding-left: 12px;
    list-style-type: none;
    li {
      background-color: $background;
      margin-bottom: 25px;
      border-radius: 20px;
      height: 4.5rem;
      max-width: 490px;
      align-content: center;
      box-shadow: 0 4px 15px 0 rgb(0 0 0 / 15%);
      p {
        display: inline-block;
      }
      .order-icon {
        background-color: $primary;
        color: white;
        font-size: calc(14.18rem / 16);
        height: 24px;
        width: 24px;
        border-radius: 50%;
        text-align: center;
        align-content: center;
        margin-left: -12px;
      }
      p:last-of-type {
        .fa-solid {
          color: $grey-tint4;
          font-size: calc(20rem / 16);
          padding-left: calc(22rem / 16);
          padding-right: calc(27rem / 16);
        }
      }
    }
    li:first-of-type {
      margin-left: 0;
    }
    li:nth-of-type(2) {
      margin-left: auto;
      margin-right: auto;
    }
    li:last-child {
      margin-left: auto;
      margin-right: 0;
      & p:last-of-type .fa-solid {
        color: $primary;
      }
    }
  }
}

.restaurants-section {
  background-color: $background;
  padding: 26px 18px 66px 17px;
  >h2 {
    max-width: 490px;
    margin: 28px auto;
  }
  ul {
    display: flex;
    flex-direction: column;
    max-width: 490px;
    margin: 0 auto;
    gap: 18px;
    .restaurant-card {
      display: grid;
      max-width: 490px;
      grid-template-rows: 174px 77px;    
      border-radius: 15px;
      background-color: white;
      .img-box {
        display: block;
        img {
          width: 100%;
          max-height: 174px;
          border-radius: 15px 15px 0 0;
          object-fit: cover;
          object-position: 0 100%;
        }  
        .portrait-pic{
            object-position: 0 60%;
        } 
      }
      .restaurant-card-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 5px 13px;
        h3 {
          font-size: 1.1rem;
          padding-bottom: 5px;
        }
        p {
          font-weight: 300;
          font-size: 1.06rem;
        }  
      }
    }
  }
}
/* breakpoint to keep the filled plates in the center of their picture */
@media screen and (min-width: 460px) and (max-width: 767px) {
  .restaurants-section {
    ul {
      .restaurant-card {
        .img-box {
          img {
            object-position: 0 70%;
          }  
        } 
      }
    }
  }         
}
  
/* main breakpoint for restaurant cards in two rows */
@media screen and (min-width: 768px) and (max-width: 950px) {
  .info-section {
    max-width: 950px;
  }
  .restaurants-section {
    padding: 2px 18px 66px 17px;
    >h2 {
      max-width: 1080px;
      margin: 28px auto;
    }
    ul {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1080px;
    justify-content: space-between;
    align-content: space-between;
    row-gap: calc(2.34vw + calc(2 * (2.34vw - 18px)));
    column-gap: calc(2.34vw + calc(5 * (2.34vw - 18px)));
      .restaurant-card {
        flex: 1 1 40%;
      }
    }
  }

}

/* last breakpoint for larger screens */
@media screen and (min-width: 951px) {
  .info-section {
    max-width: 1080px;
    ol {
      display: flex;
      justify-content: space-between;
      gap: 24px;
      li {
        max-width: 335px;
        flex: 1 1 auto;
        p {
          display: inline;
        }
        .order-icon {
          display: inline-block;
        }
      }
    }
  }
  .restaurants-section {
    padding: 2px 18px 66px 17px;
    >h2 {
      max-width: 1080px;
      margin: 28px auto;
    }
    ul {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1080px;
    max-height: 552px;
    justify-content: space-between;
    align-content: space-between;
    row-gap: calc(2.34vw + calc(1 * (2.34vw - 18px)));
    column-gap: calc(2.34vw + calc(5 * (2.34vw - 18px)));
      .restaurant-card {
        flex: 1 1 40%;
        .img-box {
          img {
            object-position: 0 70%;
          }
        }
      }
    }
  }
}