@import "main";

h1, h2 {
  font-size: 1.5rem;
}

h2 {
  margin-bottom: 26px;
}

.header {
  position: relative;
  z-index: 2;
  box-shadow: 0 2px 4px 0 rgba(0 0 0 / 15%);
}

.location-form {
  display:flex;
  background-color: #eaeaea;
  height: 50px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
  i {
    padding-right: 17px;
  }
}

.main-title-section {
  background-color: $background;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 52px;
  h1 {
    margin: 4px 58px 17px 42px;
  }
  p {
    font-weight: 300;
    font-size: calc(18rem / 16);
    margin: 0 24px 27px 24px;
  }
  .pink-btn {
    @include btn-gradient;
    padding: 0 1.17rem;
    transition: 
      filter 400ms ease-in-out,
      background 300ms ease-in-out;
    &:hover {
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.45));
      background: linear-gradient(173deg,$secondary 12%,$primary 132%);
    }
  }
}

.info-section {
  margin: 48px 20px 68px 20px;
  ol {
    padding-left: 12px;
    list-style-type: none;
    li {
      background-color: $background;
      margin-bottom: 25px;
      border-radius: 20px;
      height: 4.5rem;
      align-content: center;
      box-shadow: 0 4px 15px 0 rgb(0 0 0 / 15%);
      p {
        display: inline-block;
      }
      .order-icon {
        background-color: $primary;
        color: white;
        font-size: calc(14.18rem / 16);
        height: 24px;
        width: 24px;
        border-radius: 50%;
        text-align: center;
        align-content: center;
        margin-left: -12px;
      }
      p:last-of-type {
        .fa-solid {
          color: $grey-tint4;
          font-size: calc(20rem / 16);
          padding-left: calc(22rem / 16);
          padding-right: calc(27rem / 16);
        }
      }
    }
    li:last-child p:last-of-type .fa-solid {
      color: $primary;
    }
  }
}

.restaurants-section {
  background-color: $background;
  padding: 54px 18px 66px 17px;
  ul {
    display: flex;
    flex-direction: column;
    gap: 18px;
    .restaurant-card {
      display: grid;
      grid-template-rows: 174px 77px;
      border-radius: 15px;
      background-color: white;
      .img-box {
        display: block;
        img {
          width: 100%;
          height: 100%;
          border-radius: 15px 15px 0 0;
          object-fit: cover;
          object-position: bottom;
        }
      }
      .restaurant-card-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 5px 13px;
        h3 {
          font-size: 1.1rem;
          padding-bottom: 5px;
        }
        p {
          font-weight: 300;
          font-size: 1.06rem;
        }  
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .restaurants-section {
    ul {
    flex-direction: row;
    flex-wrap: wrap;
      li {
        flex: 1 1 40%;
      }
    }
  }
}

@media screen and (min-width: 1024px) {

}