$background: #f6f6f6;
$grey-tint4: #7e7e7e;
$dark-grey: #353535;
$primary: #9356dc;
$secondary: #ff79da;
$green-font: #008766;
$green-background: #99e2d0;
@mixin btn-gradient {
  background: linear-gradient(173deg,$secondary -22%,$primary 120%);;
  height: 50px;
  border: none;
  border-radius: 25px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: white;
  font-family: Roboto;
  font-size: 1rem;
  cursor: pointer;
}

:root {
  font-family: Roboto;
  font-size: 16px;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

.header {
  height: 3.9rem;
  align-content: center;
  figure {
  width: 197px;
  height: 36px;
  padding-top: 0.5rem;
  margin: 0 auto;
  text-align: center;
  }
  img {
    width: 162px;
  }
}

//like button
.restaurant-card {
  .restaurant-card-info {
    input[type="checkbox"] {
      display: none;
      & + label {
        cursor: pointer;
        fill: none;
        stroke: #101010;
        transition: 
          opacity 2s;
      }
      &:checked + label {
        fill: url("#pink-gradient");
        stroke: none;
      }
    }  
  }
}

.footer {
  background-color: $dark-grey;
  padding: 22px 25px;
  color: white;
  h2 {
    font-family: Shrikhand;
    font-size: 1.1rem;
    margin-bottom: 16px;
  }
  li {
    margin-bottom: 7px;
    i {
      font-size: 0.8rem;
      max-width: 0.75rem;
      margin-right: 11px;
    }
    address {
      font-style: normal;
    }
  }
  ul:last-of-type li:last-of-type {
    margin-bottom: 0;
  }
}

